<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
    <body>
    <form method="POST" action="/user">
        <label>Username</label>
        <input type="text" name="username" th:value="${username}" required>

        <label>Email</label>
        <input type="email" name="email" th:value="${email}" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>Confirm Password</label>
        <input type="password" name="verify" required>

        <div th:if="${error}" class="Passwords do not match.">
            <p th:text="${error}"></p>
        </div>

        <input type="submit" value="Submit">
    </form>
    </body>
</html>